<div class="white z-depth-5" style="text-align: center;padding-bottom: 0px;padding-left: 30px;padding-right: 30px; border-radius: 20px ;position: absolute;top: 50%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%); height: 450px; " >
    <h1>Login</h1>
    <br>
    <br>
    
    <div class="btn purple lighten-2" style="width: 200px ; " >Student</div>
    <br>
    <br>
    
    <div class="btn purple lighten-2" style="width: 200px ;">Teacher</div>
    <br>
    <br>
    <div class="btn purple lighten-2" style="width: 200px ;">  Admin       </div>
    <br>
</div>