<div class="row">
    <!--    <div ng-style="{{mobile_container}}" class="teal">
        <div ng-repeat  = "msg in mobile_msg">
            <h1 style="max-width: 30px; word-wrap:normal; font-size: 10px">{{msg.entry}}</h1>
            <p style="max-width: 30px;">{{msg.user}}</p>
        </div>
    </div> -->
    <div class="teal" ng-style="mobile_container">
        <div ng-repeat="msg in mobile_msg" class="white" style="border-radius: 50px ; max-width: 60%;;padding-left:4px ;padding-right:4px; padding-bottom: 10px;padding-top: 10px;min-width: 50px; margin-top:5px">
            {{msg.entry}}
            <div style="font-size: 10px; right: 0%; font-style: italic; text-indent: 10px">{{msg.user}}</div>
        </div>

        

    </div>

    <div class="row col s12 teal" style="margin: 0px;">
        <input class="col s10" ng-model="msgInput" id = "bottom" type="text" ng-style="position :"absolute", margin:0, bottom : 0px, width : 100%, color:black,background-color:white, bottom:0" ng-keypress="checkEnter($event)">
        <div class="col s1" ng-click="()" id="theSendThing">
          <i class="material-icons">send</i>
        </div>
        <div class="col s1">
          <i class="material-icons modal-trigger" href="#fileModal">attach_files</i>
        </div>
      </div>


    <!-- <div class="row col s12" style='margin: 0%'>
        <input type="text" ng-style="{{mobile_input}}" class="col s10 white lighten-1 " ng-model="inputMobile">
        <i class="col s1 material-icons">send</i>
        <i class="col s1 material-icons">attach_files</i>
    </div> -->
    
</div>