<html>

<head>
        <title>Room Booking</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <style>
                .panel-heading {
                        text-align: center;
                }

                .panel-body {
                        text-align: center;
                }

                #fs,
                #fl {
                        display: none;
                }
        </style>
</head>

<body>



        <div class="container-fluid">
                <div>
                        <h1 style="font-size:auto">Room booking
                                <br>
                                <small>Book any multipurpose room for your work</small>
                        </h1>
                </div>


                <div style="text-align: center;">
                        <ul class="pagination">
                                <li class="active">
                                        <a href="#!/room">Book a room</a>
                                </li>
                                <li>
                                        <a href="#!/room/mybookings">My Bookings</a>
                                </li>
                        </ul>
                </div>

                <div class="row">
                        <div class="col s12 m6" ng-repeat="room in roms" style="align-self: center;">
                                <div class="card">
                                        <div class="card-image">
                                                <img src="../assets/background_room.jpg">
                                                <span class="card-title">{{room.name}}</span>
                                                <a class="btn-floating halfway-fab waves-effect waves-light red modal-trigger" href="#roomBookModal" ng-click="setName(room.name)">
                                                        <i class="material-icons">add</i>
                                                </a>
                                        </div>
                                        <div class="card-content">
                                                <p>{{room.desc}}</p>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>




        <div class="modal modal-fixed-footer" id="roomBookModal" style="size:auto">
                <div class="modal-content">
                        <h5 id="nameofmodal">{{modal_head}}</h5>
                        <p>Date</p>
                        <input id="date" type="date" ng-model="dat">
                        <p>Period</p>
                        <input id="period" type="number" ng-model="period" min=1 max=10>
                        <div id="fs" class="alert alert-success">
                                <strong>Room Booked Successfully!</strong>
                        </div>
                        <div id="fl" class="alert alert-danger">
                                <strong>Some error seems to have taken place. Please try again. If the problem persists, send feedback.</strong>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="button" class="btn modal-close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="myFunc()">Confirm Booking</button>
                </div>
        </div>

</body>
<script>
        var namescape;
        function setName(nam) {
                namescape = nam;
                console.log(namescape);
                document.getElementById("nameofmodal").innerHTML = namescape;
        }

</script>

<script>
        $(document).ready(function () {
                $('.modal').modal();
        });
</script>

</html>