<!DOCTYPE html>
<html>

<head>
        <title>Room booker</title>

        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        
        
        <style>
                #fs,
                #fl {
                        display: none;
                }
        </style>
</head>
<div class="container-fluid" ng-app="myApp" ng-controller="RoomsController">



        <div>
                <h1 class="my-4">Room booking
                        <br>
                        <small>My Bookings</small>
                </h1>
        </div>
        <div style="text-align:center;">
                <ul class="pagination">
                        <li>
                                <a href="#!/room">Book a room</a>
                        </li>
                        <li class="active">
                                <a href="#!/room/mybookings">My Booking</a>
                        </li>
                        <li>
                                <span ng-click="getRoomsByAuthority()" class="glyphicon glyphicon-refresh"></span>
                        </li>
                </ul>

        </div>

        <div id="fs" class="alert alert-success">
                <strong>Booking Deleted Successfully!</strong>
        </div>
        <div id="fl" class="alert alert-danger">
                <strong>Some error seems to have taken place. Please try again. If the problem persists, send feedback.</strong>
        </div>


        <body ng-init="getRoomsByAuthority()">
                <table style="width:100%" ng-init="getRoomsByAuthority()">
                        <tr>
                                <th>Name of Room</th>
                                <th>Date of booking</th>
                                <th>Period</th>
                        </tr>
                        <tr ng-repeat="room in rooms track by $index">
                                <td>{{room.name}}</td>
                                <td>{{room.date}}</td>
                                <td>{{room.period}}</td>
                                <td>
                                        <button ng-click="deleteBooking($index)" class="btn btn-danger">Cancel Booking!</button>
                                </td>
                        </tr>
                </table>
        </body>
</div>

</html>