<div style="display: flex">
    <ul class="collapsible" style="width: 100%">
        <li ng-repeat="day in days">
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{day.day}}</div>
          <div class="collapsible-body blue accent-{{$index-1}} row" style="height: 10px; padding:0% ; margin: 0%" ng-repeat="period in day.periods track by $index">
            <div class="col s4">{{$index + 1}}</div>  
            <span style="padding:0%" class="col s8">{{period}}</span></div>
        </li>
    </ul>

    <script>
        $(document).ready(function () {
            $('.collapsible').collapsible();
        });
    </script>
</div>