<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete bookings</title>
</head>
<style>
 body
  {
    background-image: url("/views/contemporary_china.png");
    background-repeat: repeat;
  }
</style>
<body>
    <table style="width:100%" ng-init="getBookings()">
        <tr>
        <th>Room </th>
        <th>Authority</th>
        <th>Date</th>
        <th>Delete</th>
        </tr>
        <tr ng-repeat="room in rooms track by $index">
            <td>{{room.name}}</td>
            <td>{{room.authority}}</td>
            <td>{{room.date}}</td>
            <td><button type="delete" ng-click="deleteBookingAdmin($index)">Delete</button></td>
        </tr>
    </table>
</body>
</html>